workflow-templates/Process AI Agent & CRE Deep Research/Originial Codes Files/Main_Research_Processing_Coordinator.json
{
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cre-research-coordinator-2025"
  },
  "name": "Main Research Processing Coordinator",
  "tags": ["research", "ai-agents", "cre", "coordinator"],
  "nodes": [
    {
      "parameters": {
        "content": "# 🏢 AI Agents in CRE Research - Main Coordinator\n\n**Purpose:** Orchestrates parallel processing of deep research through 5 specialized agents:\n\n## 🔄 Parallel Processing Flow:\n1. **Document Intake & Preparation**\n2. **Simultaneous Agent Execution**\n   - Research Synthesis Coordinator\n   - Academic Opportunity Identifier  \n   - Methodological Evaluator\n   - Cross-Reference Validator\n   - Strategic Synthesizer\n3. **Results Consolidation**\n4. **Final Report Generation**\n\n## ⚡ Performance:\n- ~80% faster than sequential processing\n- Structured outputs for seamless integration\n- Comprehensive analysis across multiple dimensions",
        "height": 520,
        "width": 640,
        "color": 1
      },
      "name": "Coordinator Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -200
      ],
      "id": "coordinator-overview"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-coordinator",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Research Processing Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        200
      ],
      "webhookId": "cre-research-coordinator",
      "id": "webhook-trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id",
              "name": "sessionId",
              "value": "=cre-research-{{ Math.floor(Math.random() * 100000) + 1 }}",
              "type": "string"
            },
            {
              "id": "research_context",
              "name": "researchContext",
              "value": "=AI Agents and Agentic Workflows in Institutional Commercial Real Estate Investment",
              "type": "string"
            },
            {
              "id": "processing_timestamp",
              "name": "processingTimestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "total_documents",
              "name": "totalDocuments",
              "value": "={{ $json.documents ? $json.documents.length : 0 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "name": "Initialize Research Session",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        200
      ],
      "id": "init-session"
    },
    {
      "parameters": {
        "content": "# 📋 Document Preparation\n\nPrepares research documents for parallel processing:\n- Validates document collection\n- Generates unique session ID\n- Structures data for subagents\n- Initializes processing context",
        "height": 280,
        "width": 340,
        "color": 3
      },
      "name": "Document Prep Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -20
      ],
      "id": "doc-prep-info"
    },
    {
      "parameters": {
        "content": "# 🚀 Parallel Agent Execution\n\nAll 5 agents execute simultaneously:\n- Research Synthesis Coordinator\n- Academic Opportunity Identifier\n- Methodological Evaluator  \n- Cross-Reference Validator\n- Strategic Synthesizer\n\nEach receives the full document set and specialized instructions.",
        "height": 320,
        "width": 640,
        "color": 5
      },
      "name": "Parallel Processing Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -20
      ],
      "id": "parallel-info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "synthesis_input",
              "name": "synthesisInput",
              "value": "={\n  \"sessionId\": \"{{ $json.sessionId }}\",\n  \"documents\": {{ JSON.stringify($json.documents || []) }},\n  \"context\": \"{{ $json.researchContext }}\",\n  \"task\": \"Document ingestion, categorization, and initial synthesis\",\n  \"focus\": \"Identify key themes, categorize research, create structured database\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Synthesis Agent Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        380
      ],
      "id": "prep-synthesis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "opportunity_input",
              "name": "opportunityInput",
              "value": "={\n  \"sessionId\": \"{{ $json.sessionId }}\",\n  \"documents\": {{ JSON.stringify($json.documents || []) }},\n  \"context\": \"{{ $json.researchContext }}\",\n  \"task\": \"Academic opportunity identification and gap analysis\",\n  \"focus\": \"Research gaps, publication opportunities, collaboration potential\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Opportunity Agent Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        380
      ],
      "id": "prep-opportunity"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "methodology_input",
              "name": "methodologyInput",
              "value": "={\n  \"sessionId\": \"{{ $json.sessionId }}\",\n  \"documents\": {{ JSON.stringify($json.documents || []) }},\n  \"context\": \"{{ $json.researchContext }}\",\n  \"task\": \"Research methodology analysis and innovation assessment\",\n  \"focus\": \"Method effectiveness, innovation opportunities, quality metrics\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Methodology Agent Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        380
      ],
      "id": "prep-methodology"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "validation_input",
              "name": "validationInput",
              "value": "={\n  \"sessionId\": \"{{ $json.sessionId }}\",\n  \"documents\": {{ JSON.stringify($json.documents || []) }},\n  \"context\": \"{{ $json.researchContext }}\",\n  \"task\": \"Cross-reference validation and conflict resolution\",\n  \"focus\": \"Claim validation, source verification, consistency checking\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Validation Agent Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        380
      ],
      "id": "prep-validation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "strategic_input",
              "name": "strategicInput",
              "value": "={\n  \"sessionId\": \"{{ $json.sessionId }}\",\n  \"documents\": {{ JSON.stringify($json.documents || []) }},\n  \"context\": \"{{ $json.researchContext }}\",\n  \"task\": \"Strategic synthesis and business intelligence generation\",\n  \"focus\": \"Actionable recommendations, implementation roadmap, ROI analysis\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Strategic Agent Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        380
      ],
      "id": "prep-strategic"
    },
    {
      "parameters": {
        "workflowId": "research-synthesis-coordinator",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "value": "={{ JSON.stringify($json.synthesisInput) }}"
            }
          ]
        }
      },
      "name": "Execute Research Synthesis Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        580
      ],
      "id": "exec-synthesis"
    },
    {
      "parameters": {
        "workflowId": "academic-opportunity-identifier",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "value": "={{ JSON.stringify($json.opportunityInput) }}"
            }
          ]
        }
      },
      "name": "Execute Academic Opportunity Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        540,
        580
      ],
      "id": "exec-opportunity"
    },
    {
      "parameters": {
        "workflowId": "methodological-evaluator",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "value": "={{ JSON.stringify($json.methodologyInput) }}"
            }
          ]
        }
      },
      "name": "Execute Methodological Evaluator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        760,
        580
      ],
      "id": "exec-methodology"
    },
    {
      "parameters": {
        "workflowId": "cross-reference-validator",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "value": "={{ JSON.stringify($json.validationInput) }}"
            }
          ]
        }
      },
      "name": "Execute Cross-Reference Validator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        980,
        580
      ],
      "id": "exec-validation"
    },
    {
      "parameters": {
        "workflowId": "strategic-synthesizer",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "value": "={{ JSON.stringify($json.strategicInput) }}"
            }
          ]
        }
      },
      "name": "Execute Strategic Synthesizer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        580
      ],
      "id": "exec-strategic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agent_results",
              "name": "agentResults",
              "value": "={\n  \"sessionId\": \"{{ $('Initialize Research Session').item.json.sessionId }}\",\n  \"processingTimestamp\": \"{{ $('Initialize Research Session').item.json.processingTimestamp }}\",\n  \"synthesisResults\": {{ JSON.stringify($('Execute Research Synthesis Agent').item.json) }},\n  \"opportunityResults\": {{ JSON.stringify($('Execute Academic Opportunity Agent').item.json) }},\n  \"methodologyResults\": {{ JSON.stringify($('Execute Methodological Evaluator').item.json) }},\n  \"validationResults\": {{ JSON.stringify($('Execute Cross-Reference Validator').item.json) }},\n  \"strategicResults\": {{ JSON.stringify($('Execute Strategic Synthesizer').item.json) }}\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Collect Agent Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        780
      ],
      "id": "collect-results"
    },
    {
      "parameters": {
        "workflowId": "final-consolidation-agent",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "value": "={{ JSON.stringify($json.agentResults) }}"
            }
          ]
        }
      },
      "name": "Execute Final Consolidation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        760,
        980
      ],
      "id": "exec-consolidation"
    },
    {
      "parameters": {
        "content": "# 📊 Results Consolidation\n\nCollects outputs from all 5 agents:\n- Synthesis database\n- Opportunity matrix\n- Methodology assessment\n- Validation report\n- Strategic recommendations\n\nGenerates comprehensive final report.",
        "height": 280,
        "width": 340,
        "color": 2
      },
      "name": "Consolidation Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        1120
      ],
      "id": "consolidation-info"
    },
    {
      "parameters": {
        "respondWith": "allEntries",
        "options": {}
      },
      "name": "Return Final Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        1180
      ],
      "id": "return-report"
    }
  ],
  "connections": {
    "Research Processing Webhook": {
      "main": [
        [
          {
            "node": "Initialize Research Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Research Session": {
      "main": [
        [
          {
            "node": "Prepare Synthesis Agent Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Opportunity Agent Input", 
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Methodology Agent Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Validation Agent Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Strategic Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Synthesis Agent Input": {
      "main": [
        [
          {
            "node": "Execute Research Synthesis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Opportunity Agent Input": {
      "main": [
        [
          {
            "node": "Execute Academic Opportunity Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Methodology Agent Input": {
      "main": [
        [
          {
            "node": "Execute Methodological Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Validation Agent Input": {
      "main": [
        [
          {
            "node": "Execute Cross-Reference Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Strategic Agent Input": {
      "main": [
        [
          {
            "node": "Execute Strategic Synthesizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Research Synthesis Agent": {
      "main": [
        [
          {
            "node": "Collect Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Academic Opportunity Agent": {
      "main": [
        [
          {
            "node": "Collect Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Methodological Evaluator": {
      "main": [
        [
          {
            "node": "Collect Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Cross-Reference Validator": {
      "main": [
        [
          {
            "node": "Collect Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Strategic Synthesizer": {
      "main": [
        [
          {
            "node": "Collect Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Agent Results": {
      "main": [
        [
          {
            "node": "Execute Final Consolidation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Final Consolidation": {
      "main": [
        [
          {
            "node": "Return Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
} 